<!DOCTYPE html>
<html ng-app="VenderMachinApp">

<head>
    <title>Vendors Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <style>
        table,
        th,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
</head>

<body ng-controller="MachinController" class="container">


    <form style="padding:20px;">
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control" id="amount" ng-model="amount">
        </div>
        <button type="submit" class="btn btn-default" ng-click="calculateVenderChange()">Submit</button>
    </form>
    <h3>Changes </h3>
    
    <table ng-if="!error">
        <thead>
            <tr>
                <th ng-repeat="x in venderChange" ng-bind="x.name"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="x in venderChange" ng-bind="x.quantity"></td>
            </tr>
        </tbody>
    </table>
    
    <div ng-if="error">
        <span class="text-error">Change not available</span>
    </div>

    <br/>
    <h3>Stocks </h3>
    <table>
        <thead>
            <tr>
                <th ng-repeat="x in InventoryStock" ng-bind="x.name"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="x in InventoryStock" ng-bind="x.quantity"></td>
            </tr>
        </tbody>
    </table>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="main.js" type="application/javascript"></script>
</body>

</html>